@model VetClinicManager.DTOs.HealthRecords.HealthRecordEditVetDto

@{
    ViewData["Title"] = "Karta Zdrowia";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <hr />

    <h4>Informacje z Karty Zdrowia</h4>

    @if (Model == null)
    {
        <div class="alert alert-warning">Brak karty zdrowia dla tego zwierzęcia.</div>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IsSterilized)
            </dt>
            <dd class="col-sm-9">
                @if (Model.IsSterilized)
                {
                    <span class="badge bg-success">Tak</span> 
                }
                else
                {
                    <span class="badge bg-danger">Nie</span>
                }
            </dd>

            @if (!string.IsNullOrEmpty(Model.ChronicDiseases))
            {
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ChronicDiseases)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ChronicDiseases)
                </dd>
            }

             @if (!string.IsNullOrEmpty(Model.Allergies))
            {
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Allergies)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Allergies)
                </dd>
            }

             @if (!string.IsNullOrEmpty(Model.Vaccinations))
            {
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Vaccinations)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Vaccinations)
                </dd>
            }

             <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LastVaccinationDate)
            </dt>
            <dd class="col-sm-9">
                 @Html.DisplayFor(model => model.LastVaccinationDate)
            </dd>
        </dl>
    }


    <div class="mt-4 d-flex">
    @if (User.IsInRole("Admin") || User.IsInRole("Vet"))
    {
        <a asp-controller="HealthRecords" asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edytuj Kartę Zdrowia</a>
            <span class="ms-2"></span>
        }
        <a asp-controller="Animals" asp-action="Index" class="btn btn-outline-secondary">Powrót do Listy Zwierząt</a>
    
    </div>

</div>

@section Scripts {
    
}