@model VetClinicManager.Models.HealthRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HealthRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSterilized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSterilized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChronicDiseases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChronicDiseases)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccinations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccinations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastVaccinationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastVaccinationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
