@model VetClinicManager.Areas.Admin.DTOs.UserDeleteDto

@{
    ViewData["Title"] = "Usuń Użytkownika";
    Layout = "_Layout";
}

<h1>Usuń Użytkownika</h1>

<h3>Czy na pewno chcesz usunąć tego użytkownika?</h3>
<div>
    <h4>Szczegóły Użytkownika</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-danger">Usuń</button> |
        <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>