@model VetClinicManager.DTOs.Visits.VisitListUserDto 

@{
    ViewData["Title"] = "Szczegóły Mojej Wizyty";
}

<h1>Szczegóły Wizyty</h1>

<div>
    <h4>Informacje o wizycie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            Zwierzę 
        </dt>
        <dd class = "col-sm-10">
            @(Model.Animal?.Name)
             @if (Model.Animal != null) {
                 <a asp-controller="Animals" asp-action="Details" asp-route-id="@Model.Animal.Id">@(Model.Animal.Name)</a>
             }
        </dd>
        <dt class = "col-sm-2">
            Lekarz Prowadzący 
        </dt>
        <dd class = "col-sm-10">
            @(Model.AssignedVet?.FirstName + " " + Model.AssignedVet?.LastName)
             @if (Model.AssignedVet != null) {
                 <a asp-controller="User" asp-action="Details" asp-route-id="@Model.AssignedVet.Id">@(Model.AssignedVet.FirstName + " " + Model.AssignedVet.LastName)</a>
             }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Powrót do listy moich wizyt</a>
</div>