@model IEnumerable<VetClinicManager.DTOs.Visits.VisitListVetDto> 

@{
    ViewData["Title"] = "Moje Wizyty (Weterynarz)";
}

<h1>Moje Wizyty</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
             <th>@Html.DisplayNameFor(model => model.Description)</th> 
            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Priority)</th>
            <th>Zwierzę</th> 
            <th>Właściciel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                 <td>@Html.DisplayFor(modelItem => item.Description)</td> 
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                 <td>
                    @(item.Animal?.Name)
                </td>
                <td>
                    @(item.Owner?.FirstName + " " + item.Owner?.LastName)
                </td>
                 <td>
                     <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                     <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                 </td>
            </tr>
        }
    </tbody>
</table>