@model VetClinicManager.DTOs.Animals.AnimalEditDto

@{
    ViewData["Title"] = "Usuń Zwierzę";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <div class="alert alert-danger">
        <h4 class="alert-heading">Potwierdzenie</h4>
        <p>Czy na pewno chcesz trwale usunąć to zwierzę? <strong>Tej operacji nie można cofnąć.</strong></p>
    </div>

    <h4>Informacje o zwierzęciu:</h4>
    <hr />

    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>

        @if (!string.IsNullOrEmpty(Model.Breed))
        {
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Breed)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Breed)
            </dd>
        }

         @if (!string.IsNullOrEmpty(Model.Species))
        {
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Species)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Species)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.MicrochipId))
        {
             <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.MicrochipId)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.MicrochipId)
            </dd>
        }
        
    </dl>

    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <div class="form-group d-flex mt-3">
             <input type="submit" value="Usuń" class="btn btn-danger" />
             <a asp-action="Index" class="btn btn-outline-secondary ms-2">Powrót do Listy</a>
        </div>
    </form>

</div>