@model VetClinicManager.DTOs.Animals.AnimalDetailsVetRecDto

@{
    ViewData["Title"] = "Szczegóły Zwierzęcia";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <hr />

    <div class="row">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="col-md-4 mb-3">
                <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid rounded shadow" />
            </div>
            <div class="col-md-8">
                <h4>Informacje o zwierzęciu</h4>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    @if (!string.IsNullOrEmpty(Model.MicrochipId))
                    {
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.MicrochipId)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.MicrochipId)
                        </dd>
                    }

                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Species)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Species)
                    </dd>

                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Breed)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Breed)
                    </dd>

                    @if (Model.DateOfBirth.HasValue)
                    {
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.DateOfBirth)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.DateOfBirth)
                        </dd>
                    }

                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.BodyWeight)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.BodyWeight)
                    </dd>

                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    @if (Model.LastVisitDate.HasValue)
                    {
                         <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.LastVisitDate)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.LastVisitDate)
                        </dd>
                    }

                    <dt class = "col-sm-3">
                         @Html.DisplayNameFor(model => model.Owner)
                    </dt>
                    <dd class = "col-sm-9">
                        @if (Model.Owner != null)
                        {
                             <span>@(Model.Owner.FirstName) @(Model.Owner.LastName)</span>
                             @* Optional link to user details (requires User Details controller/view) *@
                             @* <a asp-controller="User" asp-action="Details" asp-route-id="@Model.Owner.Id" class="ms-2 btn btn-sm btn-outline-info">Szczegóły Właściciela</a> *@
                        }
                        else
                        {
                            <span class="text-muted">Brak przypisanego właściciela</span>
                        }
                    </dd>

                </dl>

                 @* TODO: Add sections for Visits and AnimalMedications here if they are in the DTO *@
                 @* <h4>Historia Wizyt</h4> ... *@
                 @* <h4>Historia Leczenia</h4> ... *@

            </div>
        }
        else
        {
            <div class="col-md-12">
                 <h4>Informacje o zwierzęciu</h4>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    @if (!string.IsNullOrEmpty(Model.MicrochipId))
                    {
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.MicrochipId)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.MicrochipId)
                        </dd>
                    }

                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Species)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Species)
                    </dd>

                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Breed)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Breed)
                    </dd>

                    @if (Model.DateOfBirth.HasValue)
                    {
                        <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.DateOfBirth)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.DateOfBirth)
                        </dd>
                    }

                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.BodyWeight)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.BodyWeight)
                    </dd>

                    <dt class = "col-sm-3">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class = "col-sm-9">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    @if (Model.LastVisitDate.HasValue)
                    {
                         <dt class = "col-sm-3">
                            @Html.DisplayNameFor(model => model.LastVisitDate)
                        </dt>
                        <dd class = "col-sm-9">
                            @Html.DisplayFor(model => model.LastVisitDate)
                        </dd>
                    }

                    <dt class = "col-sm-3">
                         @Html.DisplayNameFor(model => model.Owner)
                    </dt>
                    <dd class = "col-sm-9">
                        @if (Model.Owner != null)
                        {
                            <span>@(Model.Owner.FirstName) @(Model.Owner.LastName)</span>
                             @* Optional link to user details (requires User Details controller/view) *@
                             <a asp-controller="User" asp-action="Details" asp-route-id="@Model.Owner.Id" class="ms-2 btn btn-sm btn-outline-info">Szczegóły Właściciela</a>
                        }
                        else
                        {
                            <span class="text-muted">Brak przypisanego właściciela</span>
                        }
                    </dd>
                </dl>
                @* TODO: Add sections for Visits and AnimalMedications here if they are in the DTO *@
            </div>
        }
    </div>

    <div class="mt-4">
         <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edytuj</a>
         <a asp-action="Index" class="btn btn-outline-secondary ms-2">Powrót do Listy</a>
    </div>

</div>

@section Scripts {
    @* Optional scripts *@
}