@model IEnumerable<VetClinicManager.Areas.Admin.DTOs.Medications.MedicationListDto>

@{
    ViewData["Title"] = "Zarządzanie lekami/materiałami";
    Layout = "_Layout";
}

<h1>Zarządzanie lekami/materiałami</h1>

<p>
    <a asp-area="Admin" asp-controller="Medications" asp-action="Create" class="btn btn-primary">Dodaj nowy lek/materiał</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="Medications" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edytuj</a> |
                <a asp-area="Admin" asp-controller="Medications" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Szczegóły</a> |
                <a asp-area="Admin" asp-controller="Medications" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>